/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$wa-ico-links: unicode(ea02);
$wa-ico-vipera-logo: unicode(ea03);
$wa-ico-home: unicode(ea04);
$wa-ico-admin-users: unicode(ea05);
$wa-ico-add: unicode(ea06);
$wa-ico-key: unicode(ea07);
$wa-ico-json: unicode(ea08);
$wa-ico-publish: unicode(ea09);
$wa-ico-web: unicode(ea0a);
$wa-ico-list-progress: unicode(ea0b);
$wa-ico-counter: unicode(ea0c);
$wa-ico-yes: unicode(ea0d);
$wa-ico-download: unicode(ea0e);
$wa-ico-edit: unicode(ea0f);
$wa-ico-otp-password: unicode(ea10);
$wa-ico-house-key: unicode(ea11);
$wa-ico-json-file: unicode(ea12);
$wa-ico-toolbox-big: unicode(ea13);
$wa-ico-toolbox: unicode(ea14);
$wa-ico-html: unicode(ea15);
$wa-ico-smartphone: unicode(ea16);
$wa-ico-count: unicode(ea17);
$wa-ico-view: unicode(ea18);
$wa-ico-chart: unicode(ea19);
$wa-ico-configuration: unicode(ea1a);
$wa-ico-search: unicode(ea1b);
$wa-ico-refresh: unicode(ea1c);
$wa-ico-no: unicode(ea1d);
$wa-ico-export: unicode(ea1e);
$wa-ico-import: unicode(ea1f);
$wa-ico-app-content: unicode(ea20);
$wa-ico-otp: unicode(ea21);
$wa-ico-warning: unicode(ea22);
$wa-ico-ko: unicode(ea23);
$wa-ico-ok: unicode(ea24);
$wa-ico-system: unicode(ea25);
$wa-ico-log: unicode(ea26);
$wa-ico-transactions: unicode(ea27);
$wa-ico-thresholds: unicode(ea28);
$wa-ico-services: unicode(ea29);
$wa-ico-plugins: unicode(ea2a);
$wa-ico-users: unicode(ea2b);
$wa-ico-platform: unicode(ea2c);
$wa-ico-sessions: unicode(ea2d);

.wa-ico-links::before {
  content: $wa-ico-links;
}

.wa-ico-vipera-logo::before {
  content: $wa-ico-vipera-logo;
}

.wa-ico-home::before {
  content: $wa-ico-home;
}

.wa-ico-admin-users::before {
  content: $wa-ico-admin-users;
}

.wa-ico-add::before {
  content: $wa-ico-add;
}

.wa-ico-key::before {
  content: $wa-ico-key;
}

.wa-ico-json::before {
  content: $wa-ico-json;
}

.wa-ico-publish::before {
  content: $wa-ico-publish;
}

.wa-ico-web::before {
  content: $wa-ico-web;
}

.wa-ico-list-progress::before {
  content: $wa-ico-list-progress;
}

.wa-ico-counter::before {
  content: $wa-ico-counter;
}

.wa-ico-yes::before {
  content: $wa-ico-yes;
}

.wa-ico-download::before {
  content: $wa-ico-download;
}

.wa-ico-edit::before {
  content: $wa-ico-edit;
}

.wa-ico-otp-password::before {
  content: $wa-ico-otp-password;
}

.wa-ico-house-key::before {
  content: $wa-ico-house-key;
}

.wa-ico-json-file::before {
  content: $wa-ico-json-file;
}

.wa-ico-toolbox-big::before {
  content: $wa-ico-toolbox-big;
}

.wa-ico-toolbox::before {
  content: $wa-ico-toolbox;
}

.wa-ico-html::before {
  content: $wa-ico-html;
}

.wa-ico-smartphone::before {
  content: $wa-ico-smartphone;
}

.wa-ico-count::before {
  content: $wa-ico-count;
}

.wa-ico-view::before {
  content: $wa-ico-view;
}

.wa-ico-chart::before {
  content: $wa-ico-chart;
}

.wa-ico-configuration::before {
  content: $wa-ico-configuration;
}

.wa-ico-search::before {
  content: $wa-ico-search;
}

.wa-ico-refresh::before {
  content: $wa-ico-refresh;
}

.wa-ico-no::before {
  content: $wa-ico-no;
}

.wa-ico-export::before {
  content: $wa-ico-export;
}

.wa-ico-import::before {
  content: $wa-ico-import;
}

.wa-ico-app-content::before {
  content: $wa-ico-app-content;
}

.wa-ico-otp::before {
  content: $wa-ico-otp;
}

.wa-ico-warning::before {
  content: $wa-ico-warning;
}

.wa-ico-ko::before {
  content: $wa-ico-ko;
}

.wa-ico-ok::before {
  content: $wa-ico-ok;
}

.wa-ico-system::before {
  content: $wa-ico-system;
}

.wa-ico-log::before {
  content: $wa-ico-log;
}

.wa-ico-transactions::before {
  content: $wa-ico-transactions;
}

.wa-ico-thresholds::before {
  content: $wa-ico-thresholds;
}

.wa-ico-services::before {
  content: $wa-ico-services;
}

.wa-ico-plugins::before {
  content: $wa-ico-plugins;
}

.wa-ico-users::before {
  content: $wa-ico-users;
}

.wa-ico-platform::before {
  content: $wa-ico-platform;
}

.wa-ico-sessions::before {
  content: $wa-ico-sessions;
}

