/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$wa-ico-home: unicode(ea02);
$wa-ico-sessions: unicode(ea03);
$wa-ico-otp: unicode(ea04);
$wa-ico-app-content: unicode(ea05);
$wa-ico-platform: unicode(ea06);
$wa-ico-users: unicode(ea07);
$wa-ico-plugins: unicode(ea08);
$wa-ico-services: unicode(ea09);
$wa-ico-thresholds: unicode(ea0a);
$wa-ico-transactions: unicode(ea0b);
$wa-ico-log: unicode(ea0c);
$wa-ico-system: unicode(ea0d);
$wa-ico-ok: unicode(ea0e);
$wa-ico-ko: unicode(ea0f);
$wa-ico-warning: unicode(ea10);
$wa-ico-add: unicode(ea11);
$wa-ico-admin-users: unicode(ea12);
$wa-ico-import: unicode(ea13);
$wa-ico-export: unicode(ea14);
$wa-ico-no: unicode(ea15);
$wa-ico-refresh: unicode(ea16);
$wa-ico-search: unicode(ea17);
$wa-ico-configuration: unicode(ea18);
$wa-ico-chart: unicode(ea19);
$wa-ico-view: unicode(ea1a);
$wa-ico-count: unicode(ea1b);
$wa-ico-smartphone: unicode(ea1c);
$wa-ico-html: unicode(ea1d);
$wa-ico-toolbox: unicode(ea1e);
$wa-ico-toolbox-big: unicode(ea1f);
$wa-ico-json-file: unicode(ea20);
$wa-ico-house-key: unicode(ea21);
$wa-ico-otp-password: unicode(ea22);
$wa-ico-edit: unicode(ea23);
$wa-ico-download: unicode(ea24);
$wa-ico-yes: unicode(ea25);
$wa-ico-counter: unicode(ea26);
$wa-ico-list-progress: unicode(ea27);
$wa-ico-web: unicode(ea28);
$wa-ico-publish: unicode(ea29);
$wa-ico-json: unicode(ea2a);
$wa-ico-key: unicode(ea2b);
$wa-ico-links: unicode(ea2c);
$wa-ico-home-2: unicode(ea2d);
$wa-ico-sessions-2: unicode(ea2e);
$wa-ico-otp-2: unicode(ea2f);
$wa-ico-app-content-2: unicode(ea30);
$wa-ico-platform-2: unicode(ea31);
$wa-ico-users-2: unicode(ea32);
$wa-ico-plugins-2: unicode(ea33);
$wa-ico-services-2: unicode(ea34);
$wa-ico-thresholds-2: unicode(ea35);
$wa-ico-transactions-2: unicode(ea36);
$wa-ico-log-2: unicode(ea37);
$wa-ico-system-2: unicode(ea38);
$wa-ico-ok-2: unicode(ea39);
$wa-ico-ko-2: unicode(ea3a);
$wa-ico-warning-2: unicode(ea3b);
$wa-ico-add-2: unicode(ea3c);
$wa-ico-admin-users-2: unicode(ea3d);
$wa-ico-import-2: unicode(ea3e);
$wa-ico-export-2: unicode(ea3f);
$wa-ico-no-2: unicode(ea40);
$wa-ico-refresh-2: unicode(ea41);
$wa-ico-search-2: unicode(ea42);
$wa-ico-configuration-2: unicode(ea43);
$wa-ico-chart-2: unicode(ea44);
$wa-ico-view-2: unicode(ea45);
$wa-ico-count-2: unicode(ea46);
$wa-ico-smartphone-2: unicode(ea47);
$wa-ico-html-2: unicode(ea48);
$wa-ico-toolbox-2: unicode(ea49);
$wa-ico-toolbox-big-2: unicode(ea4a);
$wa-ico-json-file-2: unicode(ea4b);
$wa-ico-house-key-2: unicode(ea4c);
$wa-ico-otp-password-2: unicode(ea4d);
$wa-ico-edit-2: unicode(ea4e);
$wa-ico-download-2: unicode(ea4f);
$wa-ico-yes-2: unicode(ea50);
$wa-ico-counter-2: unicode(ea51);
$wa-ico-list-progress-2: unicode(ea52);
$wa-ico-web-2: unicode(ea53);
$wa-ico-publish-2: unicode(ea54);
$wa-ico-json-2: unicode(ea55);
$wa-ico-key-2: unicode(ea56);
$wa-ico-vipera-logo: unicode(ea57);
$wa-ico-links-2: unicode(ea58);

.wa-ico-home::before {
  content: $wa-ico-home;
}

.wa-ico-sessions::before {
  content: $wa-ico-sessions;
}

.wa-ico-otp::before {
  content: $wa-ico-otp;
}

.wa-ico-app-content::before {
  content: $wa-ico-app-content;
}

.wa-ico-platform::before {
  content: $wa-ico-platform;
}

.wa-ico-users::before {
  content: $wa-ico-users;
}

.wa-ico-plugins::before {
  content: $wa-ico-plugins;
}

.wa-ico-services::before {
  content: $wa-ico-services;
}

.wa-ico-thresholds::before {
  content: $wa-ico-thresholds;
}

.wa-ico-transactions::before {
  content: $wa-ico-transactions;
}

.wa-ico-log::before {
  content: $wa-ico-log;
}

.wa-ico-system::before {
  content: $wa-ico-system;
}

.wa-ico-ok::before {
  content: $wa-ico-ok;
}

.wa-ico-ko::before {
  content: $wa-ico-ko;
}

.wa-ico-warning::before {
  content: $wa-ico-warning;
}

.wa-ico-add::before {
  content: $wa-ico-add;
}

.wa-ico-admin-users::before {
  content: $wa-ico-admin-users;
}

.wa-ico-import::before {
  content: $wa-ico-import;
}

.wa-ico-export::before {
  content: $wa-ico-export;
}

.wa-ico-no::before {
  content: $wa-ico-no;
}

.wa-ico-refresh::before {
  content: $wa-ico-refresh;
}

.wa-ico-search::before {
  content: $wa-ico-search;
}

.wa-ico-configuration::before {
  content: $wa-ico-configuration;
}

.wa-ico-chart::before {
  content: $wa-ico-chart;
}

.wa-ico-view::before {
  content: $wa-ico-view;
}

.wa-ico-count::before {
  content: $wa-ico-count;
}

.wa-ico-smartphone::before {
  content: $wa-ico-smartphone;
}

.wa-ico-html::before {
  content: $wa-ico-html;
}

.wa-ico-toolbox::before {
  content: $wa-ico-toolbox;
}

.wa-ico-toolbox-big::before {
  content: $wa-ico-toolbox-big;
}

.wa-ico-json-file::before {
  content: $wa-ico-json-file;
}

.wa-ico-house-key::before {
  content: $wa-ico-house-key;
}

.wa-ico-otp-password::before {
  content: $wa-ico-otp-password;
}

.wa-ico-edit::before {
  content: $wa-ico-edit;
}

.wa-ico-download::before {
  content: $wa-ico-download;
}

.wa-ico-yes::before {
  content: $wa-ico-yes;
}

.wa-ico-counter::before {
  content: $wa-ico-counter;
}

.wa-ico-list-progress::before {
  content: $wa-ico-list-progress;
}

.wa-ico-web::before {
  content: $wa-ico-web;
}

.wa-ico-publish::before {
  content: $wa-ico-publish;
}

.wa-ico-json::before {
  content: $wa-ico-json;
}

.wa-ico-key::before {
  content: $wa-ico-key;
}

.wa-ico-links::before {
  content: $wa-ico-links;
}

.wa-ico-home-2::before {
  content: $wa-ico-home-2;
}

.wa-ico-sessions-2::before {
  content: $wa-ico-sessions-2;
}

.wa-ico-otp-2::before {
  content: $wa-ico-otp-2;
}

.wa-ico-app-content-2::before {
  content: $wa-ico-app-content-2;
}

.wa-ico-platform-2::before {
  content: $wa-ico-platform-2;
}

.wa-ico-users-2::before {
  content: $wa-ico-users-2;
}

.wa-ico-plugins-2::before {
  content: $wa-ico-plugins-2;
}

.wa-ico-services-2::before {
  content: $wa-ico-services-2;
}

.wa-ico-thresholds-2::before {
  content: $wa-ico-thresholds-2;
}

.wa-ico-transactions-2::before {
  content: $wa-ico-transactions-2;
}

.wa-ico-log-2::before {
  content: $wa-ico-log-2;
}

.wa-ico-system-2::before {
  content: $wa-ico-system-2;
}

.wa-ico-ok-2::before {
  content: $wa-ico-ok-2;
}

.wa-ico-ko-2::before {
  content: $wa-ico-ko-2;
}

.wa-ico-warning-2::before {
  content: $wa-ico-warning-2;
}

.wa-ico-add-2::before {
  content: $wa-ico-add-2;
}

.wa-ico-admin-users-2::before {
  content: $wa-ico-admin-users-2;
}

.wa-ico-import-2::before {
  content: $wa-ico-import-2;
}

.wa-ico-export-2::before {
  content: $wa-ico-export-2;
}

.wa-ico-no-2::before {
  content: $wa-ico-no-2;
}

.wa-ico-refresh-2::before {
  content: $wa-ico-refresh-2;
}

.wa-ico-search-2::before {
  content: $wa-ico-search-2;
}

.wa-ico-configuration-2::before {
  content: $wa-ico-configuration-2;
}

.wa-ico-chart-2::before {
  content: $wa-ico-chart-2;
}

.wa-ico-view-2::before {
  content: $wa-ico-view-2;
}

.wa-ico-count-2::before {
  content: $wa-ico-count-2;
}

.wa-ico-smartphone-2::before {
  content: $wa-ico-smartphone-2;
}

.wa-ico-html-2::before {
  content: $wa-ico-html-2;
}

.wa-ico-toolbox-2::before {
  content: $wa-ico-toolbox-2;
}

.wa-ico-toolbox-big-2::before {
  content: $wa-ico-toolbox-big-2;
}

.wa-ico-json-file-2::before {
  content: $wa-ico-json-file-2;
}

.wa-ico-house-key-2::before {
  content: $wa-ico-house-key-2;
}

.wa-ico-otp-password-2::before {
  content: $wa-ico-otp-password-2;
}

.wa-ico-edit-2::before {
  content: $wa-ico-edit-2;
}

.wa-ico-download-2::before {
  content: $wa-ico-download-2;
}

.wa-ico-yes-2::before {
  content: $wa-ico-yes-2;
}

.wa-ico-counter-2::before {
  content: $wa-ico-counter-2;
}

.wa-ico-list-progress-2::before {
  content: $wa-ico-list-progress-2;
}

.wa-ico-web-2::before {
  content: $wa-ico-web-2;
}

.wa-ico-publish-2::before {
  content: $wa-ico-publish-2;
}

.wa-ico-json-2::before {
  content: $wa-ico-json-2;
}

.wa-ico-key-2::before {
  content: $wa-ico-key-2;
}

.wa-ico-vipera-logo::before {
  content: $wa-ico-vipera-logo;
}

.wa-ico-links-2::before {
  content: $wa-ico-links-2;
}

